<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ app.name }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>


  <div class="flex items-center min-h-screen p-6 bg-gray-50">
    <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl">
      <div class="flex flex-col overflow-y-auto md:flex-row">
        <div class="h-32 md:h-auto md:w-1/2">
          <img aria-hidden="true" class="object-cover w-full h-full " src="{{ asset('assets/images/login-img.jpeg') }}"
            alt="Office">
        </div>
        <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
          @!section('body')
        </div>
      </div>
    </div>
  </div>

  @if(flashMessages.has('error'))
  <div id="toast-danger"
    class="transition-opacity duration-500 absolute top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow"
    role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="ml-3 text-sm font-normal">{{ flashMessages.get('error') }}</div>
  </div>
  @endif

  @if(flashMessages.has('success'))
  <div id="toast-success"
    class="transition-opacity duration-500 absolute top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow"
    role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="ml-3 text-sm font-normal">{{ flashMessages.get('success') }}</div>
  </div>
  @endif



  @if(env('NODE_ENV') === 'development')
  @!component('components/debug')
  @endif


  @section('scripts')
  @if(flashMessages.has('error'))
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
            const targetEl = document.getElementById('toast-danger');
            const options = {
            duration: 500
            };
            const dismiss = new Dismiss(targetEl, options);
            setTimeout(function(){
            dismiss.hide();
            }, 3000);
        }, false);
  </script>
  @endif

  @if(flashMessages.has('success'))
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
            const targetEl = document.getElementById('toast-success');
            const options = {
            duration: 500
            };
            const dismiss = new Dismiss(targetEl, options);
            setTimeout(function(){
            dismiss.hide();
            }, 3000);
        }, false);
  </script>
  @endif
  @end

</body>

</html>